add `datetime` as version scheme

I suggest to add a version scheme `datetime` that is defined as follows:
To compare 2 versions a and b, do:

Compare the as datetime parsed values (including the timezones).

Use case: Especially in cloud environments, often the version is given by a certain timestamp.

Flagging @pombredanne for attention


Software should never use datetime as versions since different machines could have different time and timezone set (skews). What is wrong with semver?

> What is wrong with semver?

In general nothing. (If you are really looking for a reason: IMHO, it is hard to automatically determine, i.e. compute that, whether a change should lead to an incremented major, minor or patch version.) However, not every component uses SemVer.

There are use cases where this is need - think about cloud environments, where you might not know what exact version was running there. In such cases, a timestamp will help to communicate, e.g. the service was vulnerable from 2024-10-01T10:00:00Z to 2024-11-14T00:30:00-02:15. As timezones are mandatory - given that this versioning-scheme will strictly follow the ABNF from [section 5.6 of RFC 3339](https://www.rfc-editor.org/rfc/rfc3339#section-5.6) - I don't see an issue in the timezone corner.

@immqu: Please ensure and document that only timestamps according to the strict interpretation as mentioned above are accepted.


For regular software, usually there is a version number, even if the version number is derived from the date or an incrementing number. To specify that a cloud service was vulnerable from 10:00 one day to 00:30 another day doesn't seem useful. You can't change what time it is so nobody can affect whether the version range is currently satisfied or not.

It may seem tempting to just assign a date time version number to a version of the software, but the exact time assigned to subsecond or even second precision is not generally meaningful since building and packaging the software will usually take at least several seconds. If the software is being distributed for installation in other clouds, it would probably be better to use the (semver compatible) 2024.11.14 or the (extended semver like NuGet uses) 2024.11.14.0 instead of 2024-11-14T00:30:00-02:15. This skips the semantic part of semantic versioning, removing both its benefits and the problem of having to think about it.

If this is really useful, it might be a good idea to allow only UTC timestamps. RFC3339 timestamps can be lexicographically sorted, but they sort by the local time, and if you're talking about the version of software deployed to an unversioned cloud service the timezone offset doesn't matter. If timezone offset support is required then implementations need to have support for parsing RFC3339 and doing basic calendar operations (including things like leap years).

However, if the timezone were constrained to UTC, having a date time scheme would only impart human meaning to a version that could just as well be an opaque, lexicographically sorted string to whatever software is comparing the versions.

IMO this discussion so far misses some crucial points:
* Quite some software developers do not utilise SemVer or CalVer consistently or strictly (i.e. as specified).
  While this is unfortunate, that is simply how software is versioned, i.e. this is nothing the Purl specification can change.  IMO Purl shall be able to properly describe any software, hence limiting it to versioning schemes adhering to SemVer or CalVer is simply not feasible.
* Some software developers do even not use a versioning scheme with monotonously increasing fields, e.g. by including Git-hashes in the release field: Nobody and nothing (e.g. `libversion`) can decide if version `1.2.3-<hash_a>` is newer or older than version `1.2.3-<hash_b>`.  Such versioning schemes even may be compliant to SemVer or CalVer, as the prior example depicts.  But I have also seen developers carelessly including strings in versioning fields, most often but not always in the release field, e.g. `1.2.3-4` and `1.2.3-beta3`: Regular sorting would result in the latter being determined as the newer version, but usually it is meant the other way around (`1.2.3-4` being a release version, not a beta).
* In the context of CI/CD pipelines, new releases can be generated and deployed without altering the `<version>-<release>` string at all.  Imagine a docker image being automatically assembled, pulling in software components from various sources: When the image configuration / definition (i.e. which components are pulled in) and CI/CD configuration stays the same, the image's version will be the same, even thought some software components further down in the software stack may have been updated.  Mind that this can happen in a layered manner, which is opaque to the docker image's maintainer and the CI/CD workflow assembling it (e.g. software components with statically linked libraries etc.).
  
   To provide a more generalised perspective on this point: If one does not fully control the the transformation from the original source code of every piece of software which is integrated into an image to the final image, it is impossible to properly determine if the version of a component has been increased (component update), decreased (component downgrade) or stayed the same.  In short: As soon as you deal with binaries (e.g. for assembling an image), one can only determine by hashing if a component was altered, but not if it has been updated or downgraded; OTOH the hash value of a component usually changes by simple recompilation (no, reproducible builds are still far from being universally used, or even mandatory) even though the component's version is still the same (if properly done, this should be reflected in the release field, which may comprise a git-hash as denoted earlier, hence being useless).

In all these cases, version comparisons to determine if a version is newer, older or kept, and consequently defining version ranges solely based on `<version>-<release>` strings becomes futile.Hence allowing for timestamps to denote a specific version is a must, AFAICS.

> * IMO Purl shall be able to properly describe any software

This is about vers, not PURL. PURL has no restrictions on the format of the version and derives no meaning from the version.

> * Regular sorting would result in the latter being determined as the newer version, but usually it is meant the other way around (i.e. `1.2.3-4` being a release version, not a beta).

This is true for semver, not "regular sorting." In at least Maven and lexicographical order, 1.2.3-4 comes after 1.2.3.

The correct, or most correct, way to do it for semver would be 1.2.3+4 which is neither greater nor less than 1.2.3: https://semver.org/#spec-item-10

> * In the context of CI/CD pipelines, new releases can be generated and deployed without altering the `<version>-<release>` string at all.

I don't think you can use vers to specify that in a list of versions 1.0 1.1 1.2 2.0 you want version 2024-11-14. That would require vers implementations to know more about the available options than their versions, and possibly information that is unknowable (eg the creation date of files that have been deleted or replaced).

CI/CD pipeline output usually cannot be sorted by only date without a separate version. Because of development branches or release maintenance branches, it's common if you put all the builds in order only by date you'll see changes appear and disappear multiple times, sometimes for months. You can avoid this ordering problem by having an assigned version along with the date version, but I don't think that's something for vers, and it does not solve the problem of not knowing the dates.

You should be able to write in an sbom or something that you used the version 1.2 from 2024-11-14 or the version 1.2 with a particular hash if there could be meaningful differences between different 1.2 versions, but that doesn't make the date a meaningful version number.

> I don't think you can use vers to specify that in a list of versions 1.0 1.1 1.2 2.0 you want version 2024-11-14. That would require vers implementations to know more about the available options than their versions, and possibly information that is unknowable (eg the creation date of files that have been deleted or replaced).

Agreed. IMHO, but this is missing the point: The introduction of the version scheme `datetime` does not try to cross version scheme boundaries. Its introduction should help to describe the world that is already there. And sometimes a time frame is all that makes sense to describe it.

Let me try to explain that with a different example: 
vers is independent of the type of product it is used for. So one could also use it to describe hardware. If a chip manufacturer realizes that a certain production fault affects a certain production of his chip A, he would be able to the `datetime` version scheme to communicate that.

> To specify that a cloud service was vulnerable from 10:00 one day to 00:30 another day doesn't seem useful. You can't change what time it is so nobody can affect whether the version range is currently satisfied or not.

IMHO, this is extremely useful - especially for incident response. First, you can use that to narrow down your event logs to the time in question to review them. Moreover, you can use such range to determine whether an exploitation attempt might have been successful as in falls into the vulnerable time. A the best thing is, that this can be automated, if vers is uses as this sets the rules for the comparison.
Also there could be a compliance case here.

> P.S.: I am not sure if @tschmidtb51 initial suggestion really was to solely use datetime for expressing any version, but I see it can be read that way.

To be precise: No. `datetime` is not the "one fit all" solution - neither is SemVer nor CalVer. It is just yet another versioning scheme that has its use cases (as all of them have). The addition should allow the creator of the vers to use the versioning scheme that fits best.

@tschmidtb51 I am working on the implementation for univers: https://github.com/immqu/univers/tree/datetime
The RFC3339 format is a subset of the ISO8601 format. The latter one allows, e.g., to specify a timestamp like 2024-11-18 (without the exact time) while the former does not. Thus, I am using a regex now to validate the RFC3339 format, and then proceed to use an existing parser for the ISO format. 

> [@tschmidtb51](https://github.com/tschmidtb51) I am working on the implementation for univers: https://github.com/immqu/univers/tree/datetime-scheme

That is nice, thank you.  (BTW, I rectified the link to that specific branch.)

> Thus, I am using a regex now to validate the RFC3339 format, and then proceed to use an existing parser for the ISO format.

May I ask what the ultimate goal is?  I.e., must a `datetime` version strictly adhere to [RFC3339, section 5.6](https://www.rfc-editor.org/rfc/rfc3339#section-5.6), or is the idea to allow for any of the many ISO8601 formats?  I would prefer confining `datetime` versions to RFC3339, section 5.6, because
* they are much easier to compare: fully supporting ISO8601 is hell, the formerly discussed use of time-zone information is trivial compared to that (still requires simple integer math, which is beyond the scope of a RegEx).
* that likely does not require an external library
* there are cases, as the aforementioned "`<year>/<week>` is all info you have", in which some unambiguous mapping has to be employed.  Suggestion: Specify to use the start of the corresponding day, week, month, year etc.

BTW, @matt-phylum, @immqu, @prabhu, @pombredanne et al, in hindsight I feel that I should have provided a little context why I suddenly appeared here writing lengthy comments: @tschmidtb51 notified me, "This might be something of interest for you.", so I reviewed this (and lastly also PR #139 / issue #328) and became a bit carried away by spontaneously commenting, because this actually is quite interesting for me in the context of [BSI TR-03183-2 "SBOM"](https://www.bsi.bund.de/SharedDocs/Downloads/EN/BSI/Publications/TechGuidelines/TR03183/BSI-TR-03183-2-2_0_0.pdf).

Thank you all for your excellent work!  My aim is not to criticise, to rant or to lecture, but to help making this valuable work even better.

 > May I ask what the ultimate goal is? I.e., must a `datetime` version strictly adhere to [RFC3339, section 5.6](https://www.rfc-editor.org/rfc/rfc3339#section-5.6), or is the idea to allow for any of the many ISO8601 formats? I strongly prefer confining `datetime` versions to RFC3339, section 5.6, because …

I didn't find useful libraries for working with RFC3339 timestamps in Python. Thus, my idea was to verify that the provided string does in fact conform to RFC3339 first, and if yes, proceed with an established parser that uses the ISO standard (dateutil). Currently, I am not sure how much effort it would be to re-implement a parser and comparison logic from scratch...

FYI: https://calver.org/ 

Just a few remarks from someone who has to manage a lot of different versioning schemes from multiple vendors.
We try to use vers where we can and would like to use it for every usecase we have (we publish security advisories for ICS/OT products). I don't like versioning that uses datetime but there are products that do use dates as versions and we need to handle that. Especially as CVEs nowadays allow cloud environments and web portals we see more and more cases where fixes of those environments are given in dates or datetimes as the user/consumer who uses the product has no clue about a particular version number of the libraries in the cloud service. Say there is a vulnerability in libaryX used by cloudservice CSXY. As the provider of the cloudservice you update libraryX on 1st of January 2025. That fixes the vulnerability in your cloud. How could you inform your customers about that vulnerability that may have affected them when they logged in before January 1st 2025? They are not aware of any library versions of your product.
One of the newer examples for one of those cases is: https://certvde.com/de/advisories/VDE-2025-012/
That's why I would like to see something like datetime in vers although I don't like versioning with dates or datetimes.

/Jochen 